.parent{
    width: 800px;
    height: 800px;
    background-color: green;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    
}
.child{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid black;
}