.parent{
    display: flex;
    width: 500px;
    height: 500px;
    background-color: green;
    justify-content: center;
    align-items: center;
    position: relative;

}
.child{
    width: 200px;
    height: 200px;
    background-color:blue;
    position: absolute;
    left: 20px;
    bottom: 100px;
}