body{
    background-color: rgb(213, 225, 239);
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    background-color: white;
    width: 300px;
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    border: 2px solid black;

}
.qr{
    width: 100%;
    height: 288px;
    background-color: #2C7DFA; /* ლურჯი ფონი */
    background-image: url(./qr.png);
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    margin-bottom: 24px;
}
.text h2{
    color: rgb(34, 43, 61);
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 16px;
}
.text p{
    color: #7D889E;
    font-size: 15px;
    margin-bottom: 20px;
}