@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
h1{
    color: blue;
    font-family: 'lobster two';
}
a:link{
    color: green;
    text-decoration: none;

    
}
a:visited{
    color: red;

}
a:hover{
    color: black;
    text-decoration: underline;
}
a:active{
    color: yellow;
}