
table {
    border-collapse: collapse; 
    width: 500%;
    height: 100px;
    
}


table, th, td {
    border: 1px solid #333;
}


th, td {
    padding: 12px;
    text-align: center;
}


th {
    background-color: #f4f4f4;
}